Step 1: I saved the given file as students.csv so I can access it from google colab. then through reading the given csv file, I'm trying to load it into a dataframe(df).

In [1]:
import pandas as pd
df = pd.read_csv("students.csv")
#print(df)

   StudentID     Name  Age  Marks Grade
0        101    Alice   20     88     A
1        102      Bob   21     75     B
2        103  Charlie   19     92     A
3        104    Diana   22     65     C
4        105    Ethan   20     78     B
5        106    Fiona   21     85     A
6        107   George   23     70     B
7        108   Hannah   19     95     A
8        109     Ivan   22     60     C
9        110    Julia   20     80     B

Step -2: I'm reloading the table into another data frame and getting a preview of it by peeking into first few rows

In [4]:
df1 = df[['StudentID','Name','Age','Marks','Grade']]
#print(df1)
print(df1.head(3))

   StudentID     Name  Age  Marks Grade
0        101    Alice   20     88     A
1        102      Bob   21     75     B
2        103  Charlie   19     92     A

Step -3: trying to get a statistical summary and explore the data further

In [12]:
print("----stat summary: ----")
print(df1.describe())
print("----shape: ----")
print(df1.shape)
print("----type: ----")
print(df1.dtypes)
print("----info: ----")
print(df1.info())

----stat summary: ----
       StudentID        Age      Marks
count   10.00000  10.000000  10.000000
mean   105.50000  20.700000  78.800000
std      3.02765   1.337494  11.535453
min    101.00000  19.000000  60.000000
25%    103.25000  20.000000  71.250000
50%    105.50000  20.500000  79.000000
75%    107.75000  21.750000  87.250000
max    110.00000  23.000000  95.000000
----shape: ----
(10, 5)
----type: ----
StudentID     int64
Name         object
Age           int64
Marks         int64
Grade        object
dtype: object
----info: ----
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   StudentID  10 non-null     int64
 1   Name       10 non-null     object
 2   Age        10 non-null     int64
 3   Marks      10 non-null     int64
 4   Grade      10 non-null     object
dtypes: int64(3), object(2)
memory usage: 532.0+ bytes
None